# IntelliJ
.idea/
*.iml

# Java / Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
coverage/
build/

# OS files
.DS_Store
Thumbs.db

# Backend (Maven)
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# Modeling (Eclipse EMF)
modeling/bin/
modeling/.classpath
modeling/.project
modeling/.settings/

